.App {
  text-align: center;
  background-image: url(C:\Users\niranjan.rachamallu\Desktop\React\address_book\src\download.jpg);
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;
}
.Contact {
  align-items: center;
  justify-content: center;
}
